@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-gradient-sky-start: #fff;
  --bg-gradient-sky-horizon: #fff;
  --bg-gradient-ground-horizon: #fff;
  --bg-gradient-ground-end: #fff;
  --sky-horizon-height: 50%;
  --ground-horizon-height: 51%;
}

textarea:focus,
input:focus {
  outline: none;
}

body {
  background-image: linear-gradient(
    var(--bg-gradient-sky-start) 0%,
    var(--bg-gradient-sky-horizon) var(--sky-horizon-height),
    var(--bg-gradient-ground-horizon) var(--ground-horizon-height),
    var(--bg-gradient-ground-end) 100%
  );
}

#quant-summary {
  border-color: var(--bg-gradient-sky-start);
  color: var(--bg-gradient-sky-start);
}

#survey-quant-summary {
  color: var(--bg-gradient-sky-start)
}

#survey-quant-summary:hover {
  border-color: var(--bg-gradient-sky-start);
  color: var(--bg-gradient-sky-start);
  content: '+'
}

#qual-summary {
  border-color: var(--bg-gradient-sky-start);
  color: var(--bg-gradient-sky-start);
}

#qual-summary:hover {
  border-color: var(--bg-gradient-sky-start);
}